name = "church-quiz-api"
main = "worker/church-quiz-worker/src/index.ts"
compatibility_date = "2026-02-14"

[durable_objects]
bindings = [
  { name = "ROOM", class_name = "Room" }
]

[[migrations]]
tag = "v1"
new_sqlite_classes = ["Room"]